.landingPage{
    background-image: url("backgrounds/h_img.jpg");
    height:100vh;
    width:100%;
    text-align: center;
    color: white;
}
.services{
    background-image: url("backgrounds/s_image.jpg");
    height:100vh;
    width:100%;
    text-align: center;
    color: white;
}
.whatWeDo{
    height: auto;
    width: 100%;
}
.heading{
    color:black;
    font-size: 35px;
    text-align: center;
}

.across{
    width:33.33%;
    float:left;
    text-align: center;
    padding:50px;
    box-sizing: border-box;
}
.across img{
    width: auto;
    height: 100px;
}
p{
    padding:20px;
    text-align: center;
    }
.portfolio{
    text-align: center;
    width:100%
    
}
.portfolio img{
    border-radius: 1em;
}
.contactUs{
    background-image: url("backgrounds/c_image.jpg");
    height:100vh;
    width:100%;
    text-align: center;
    color: white;
    padding: 30px;
}
#email, #name, textarea{
    background: transparent;
    color: aliceblue;
    border-color: aliceblue;
    border-radius: 0.5em;
}
::placeholder {
    color:white;
    opacity: 1;
  }